.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(150deg, #420119, #0b0d41);
  color: aliceblue;
}

.searchContainer {
  /* border: dashed red 1px; */
  height: 10%;
  width: 100%;
  display: flex;
}

.searchbarModule {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 3%;
  min-width: 30%;
  height: 4vh;
  background-color: #0a031c;
  border-radius: 48px;
  outline: none;
  color: white;
  border: none;
  font-size: 25px;
  font-weight: bolder;
}

.searchbarModule[type="text"] {
  padding: 20px 250px;
  color: #420119;
  border: none;
}
