@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-lyrics {
    background: #0A031C;
    width: 95%;
    height: 69vh;
    overflow-y: scroll;
    border-radius: 25px;
}

.container-lyrics p {
    margin: 50px;
    color: white;
    font-size: 36px;
}