@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;900&display=swap');

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.container-text,
.container-split {
    position: absolute;
}

.container-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    z-index: 1;
}

.container-text h1,
h2 {
    margin: 0;
}

.container-text h1 {
    font-size: 128px;
    background: linear-gradient(96.81deg, #71FFFF 13.92%, #CC5FFF 108.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.55));
    font-weight: bold;
}

.container-text h2 {
    font-weight: 500;
}

.container-subtext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container-subtext img {
    height: 50px;
    margin-right: 10px;
}

.container-split {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-left,
.container-right {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale();
    transition: filter 1s;
    transition: flex-grow 1s;
    cursor: pointer
    /* pointer-events: none; */
}

.container-left:hover,
.container-right:hover {
    filter: none;
    flex-grow: 1.23;
}

.container-left {
    background: url('../../../public/user.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-right {
    background: url('../../../public/host.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#button {
    margin-top: auto;
    font-size: 64px;
    background: transparent;
    color: white;
    border: none;
    margin-bottom: 10%;
    z-index: 2;
    font-weight: 600;
    /* pointer-events: auto; */
    display: inline-block;
    position: relative;
    cursor: pointer;
}

/* #button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

#button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
} */

@media (max-width: 1024px) {

    .container-text h1 {
        font-size: 36px;
    }

    .container-split {
        flex-direction: column;
    }

    .container-subtext {
        display: none;
    }

    #button {
        margin: 0;
        font-size: 32px;
    }
}